
#instructions{
    text-indent: 30px;
    width: 80%;
}
#chocolatePizza{
    justify-content: center;
}
#pizzaContainer{
    display: flex;
    width: 100%;
}
#ingredients{
    display: flex;
    background-image: url("./assets/assets/list-bg.png");
    background-repeat: no-repeat;
  
}

input{
    float: left;
  }
.strikethrough:checked + .strikeThis {
    text-decoration: line-through;
  }
#angles{
    height: 15px;
    width: 90%;
    background: repeating-linear-gradient(45deg, gray, white 0.01%, gray 0.02%);
}
#strikeThis{
      justify-content: left;
}
#recipeButton{
    background-color: salmon;
    height: 40px;
    width: 150px;
    font-size: 15px;
    color: blanchedalmond;
    float: right;
    margin: -50px 100px 20px 10px;
}
#headShot{
    display: inline;
}