
header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
}

nav {
    position: absolute;
    right: 5px;
}

h3 {
    margin-bottom: 7px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

.nav-div {
    display: flex;
    flex-direction: row;
    float: right;
}

.icon {
    margin: 1px;
}

#rss {
    margin-left: 6px;
}

#logo {
    float: left;
    margin-right: 15px;
}

#branding {
    display: flex;
    align-items: center;
}

#branding-text {
    flex-direction: column;
    justify-content: center;
}

#best {
    margin-top: -5px;
    padding-bottom: 5px;


#instructions{
    text-indent: 30px;
    width: 80%;
}
#chocolatePizza{
    justify-content: center;
}
#pizzaContainer{
    display: flex;
    width: 100%;
}
#ingredients{
    display: flex;
    background-image: url("./assets/assets/list-bg.png");
    background-repeat: no-repeat;
  
}

input{
    float: left;
  }
.strikethrough:checked + .strikeThis {
    text-decoration: line-through;
  }
#angles{
    height: 15px;
    width: 90%;
    background: repeating-linear-gradient(45deg, gray, white 0.01%, gray 0.02%);
}
#strikeThis{
      justify-content: left;
}
#recipeButton{
    background-color: salmon;
    height: 40px;
    width: 150px;
    font-size: 15px;
    color: blanchedalmond;
    float: right;
    margin: -50px 100px 20px 10px;
}
#headShot{
    display: inline;

}