
#instructions{
    text-indent: 30px;
    width: 80%;
}
#chocolatePizza{
    justify-content: left;
}
#pizzaContainer{
    display: flex;
    width: 100%;
}
#ingredients{
    display: flex;
    background-image: url("./assets/assets/list-bg.png");
    background-repeat: no-repeat;
  
}

input{
    float: left;
  }
.strikethrough:checked + .strikeThis {
    text-decoration: line-through;
  }
#angles{
    height: 15px;
    width: 90%;
    background: repeating-linear-gradient(45deg, gray, white 0.01%, gray 0.02%);
}
#strikeThis{
      justify-content: left;
}